# macOS-specific files
.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.apdisk

# IDE-specific files
.vscode/
.idea/
*.code-workspace
*.iml

# Lua-specific files
*.luac
*.lua~
file_obfuscated.lua
file.lua
tests/

# Roblox-specific files
*.rbxm
*.rbxmx
*.rbxl
*.rbxlx

# General ignores
*.log
*.bak
*.tmp
*.swp
*.cache
.env
secrets.lua
